@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
$fontHeader: white;

.container {
  width: 100vw;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
}

.containerDark {
  width: 100vw;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
}
.noDataDark{
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: hsl(0, 0%, 98%);
  padding-top: 45px;
  border: 1px solid rgb(112, 111, 111);
  border-radius: 5px;
  width: 40vw;
  height: 10vh;
}
.noData{
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: hsl(212, 14%, 26%);
  padding-top: 45px;
  border: 1px solid hsl(207, 26%, 17%);
  border-radius: 5px;
  width: 40vw;
  height: 10vh;
}

.pageUp {
  width: 100%;
  height: 35%;
  background-image: url('@static/images/Assets/images/bg-desktop-light.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageUpDark {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('@static/images/Assets/images/bg-desktop-dark.jpg');
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
  width: 40%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: -35px;
  align-items: center;
  color: $fontHeader;
}

.leftHeader {
  letter-spacing: 10px;
  font-weight: 700;
}

.input {
  width: 100%;

}

.display {
  width: 100%;
}

.displayText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  // padding: 0.6rem 1rem;
  font-size: 2px;
  color: white;
}

.displayTextDark{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  // padding: 0.6rem 1rem;
  font-size: 2px;
  color: black;
}

.footerContent {
  width: 100%;
  // border-top: 1px solid;

}

.All:hover,
  .Active:hover,
  .Completed:hover {
    color: blue;
    cursor: pointer;
  }

.clearCompleted:hover{
  color: red;
  cursor: pointer;
}


.footerMiddle {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.clickedItem, .clickedActive, .clickedCompleted  {
  color: blue;
}
.All:hover,
.Active:hover,
.Completed:hover,
.clearCompleted:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Customize the shadow effect as needed */
}

.activeItem {
  color: blue; // Add any styles you want for active TODO items here
}

/* Add styles for the active class */
.active {
  color: green;
}
.fontTitle,
.fontTitleCompleted {
  font-size: 22px;
  margin-left: 0.4rem;
  overflow: hidden;
}

.fontTitleCompleted {
  background-color: blue;
  text-decoration: line-through;
}

.itemContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.value,
.valueActive {
  margin-left: 10px;
  font-size: 18px;
}

.valueActive {
  text-decoration: line-through;
}

.nameDragDrop {
  color: grey;
  font-size: 16px;

}
.footerMiddleMobile{
  display: none;
  text-decoration: none;
}

.footerLeftMobile{
  display: none;
  text-decoration: none;
}
.clearCompletedMobile{
  display: none;
  text-decoration: none;
}



@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 200px 20px 0px 30px;
  }

  .value,
.valueActive {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

.clearCompletedMobile:hover{
  color: red;
  cursor: pointer;
}
.AllMobile:hover,
.ActiveMobile:hover,
.CompletedMobile:hover,
.clearCompletedMobile:hover {
  text-shadow: 2px 2px 4px rgba(6, 12, 39, 0.5); /* Customize the shadow effect as needed */
}
  
  .footerLeft,
  .footerDragDrop,
  .clearCompleted {
    font-size: 12px;
  }
  .footerMiddle{
    display: none;
  }

  .footerMiddleMobile{
    // display: none;
    display: flex;
    justify-content: space-between;
    background: none;
    // flex-direction: row;
    width: 200px;
    align-items: center;
    text-align: center;
    margin-left: 55px;
    font-size: 15px;
  }
  .footerLeftMobile{
    display: none;
  }
  .clearCompletedMobile{
    display: none;
  }

  .noDataDark{
    width: 90vw;
    height: 10vh;
  }
  .noData{
    width: 90vw;
    height: 10vh;
  }


}
